* {
    font-family: 'Nanum Gothic', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root:not(:empty) ~ #loading {
    display: none;
}

#loading {
    background-color: #f9f9f9;
    width: 100vw;
    height: 100vh;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

*:disabled {
    cursor: default;
}