body {
    overflow: hidden;
}

.transition-group {
    position: relative;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 0.5s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: all 0.5s;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@keyframes fadeOutFromNone {
    0% {
        display: block;
        opacity: 0;
    }

    99% {
        display: block;
        opacity: 1;
    }

    100% {
        opacity: 1;
        display: none;
    }
}
